.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .header{
    background-color: #F4E8C1;
    padding: 10px;
  }
  
  .aboutme {
    background-color: #A0C1B9;
    padding: 10px;
  }
  
  .projects{
    background-color: #70A0AF;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    color: white;
  }
  
  .webskills{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .skills{
    background-color: #706993;
    padding: 10px;
    color: white;
  }
  
  .skills ul{
    list-style-type: none;
  }
  
  .experience{
    background-color: #331E38;
    padding: 10px;
    color: white;
  }
  
  .footer{
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  .footer_icon{
    padding: 10px;
  }